<% if user_signed_in? %>
  
  
<% else %>
  <div class="center jumbotron">
    <h1>ようこそ Insta Clone へ</h1>
    <%= link_to "新規登録", new_user_path, class: "btn btn-lg btn-primary" %>
    <%= link_to "Facebookで会員登録", user_facebook_omniauth_authorize_path, class: "btn btn-lg btn-primary" %>
  </div>
  
<% end %>
